
{% if filenameUrl != "" %}
  <div class="form-group row mt-3">
    <div class="col-sm">
      <figure class="figure">
        <img src="{{ filenameUrl }}" class="figure-img img-fluid img-thumbnail">
      </figure>
    </div>
  </div>
{% endif %}
